{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-bottom: 80px; margin-top: 80px; text-align: center">
        <h1>Your lucky {{ foo }} is <span class="{% if bar > 50 %}uk-text-success{% else %}uk-text-danger{% endif %}">{{ bar }}</span></h1>
    </div>
{% endblock %}

