:root {
    --green: #78937A;
    --black: #000000;
    --light_pink: #FFE9FF;
    --dark_pink: #FF84FC;
    --medium_pink: #F4C6F3;
    --light_blue_green: #D1E9E5;
    --dark_blue_green: #4FCFBD;
    --light_yellow: #FFF4E7;
    --dark_grey: #1C1C1C;
    --light_grey: #696969;
    --light_brown: #F4EDE4;
    --medium_brown: #F9B25F;
    --medium_blue_green: #9AC9C1;
    --border-radius: 50px;
}
  
body {
    margin: 0 auto;
    width: 100%;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--dark_grey);
}

section {
    margin-top: 50px;
}

.footer {
    width: 100%;
    background-color: var(--green);
    color: var(--dark_grey)
}

a {
    text-decoration: none;
    color: var(--dark_grey);
}

ul {
    list-style: none outside none;
}

hr {
    height: 1px;        
    width: 80%;        
    background-color: var(--black); 
    border: none;     
    margin: 20px auto; 
    opacity: 100;
}

h2 {
    font-weight: 700;
}

.button-pink {
    color: white;
    background-color: var(--dark_pink);
    padding: 20px;
    border-radius: var(--border-radius);
    text-align: center;
}

.button-green {
    color: white;
    background-color: var(--green);
    padding: 20px;
    border-radius: var(--border-radius);
    text-align: center;
}

.button-pink:hover {
    background-color: none;
    color: var(--dark_grey);
    border-color: var(--dark_pink);
}

.button-green:hover {
    background-color: none;
    color: var(--dark_grey);
    border-color: var(--green);
}

.green-card {
    background-color: var(--green);
}

.pink-card {
    background-color: var(--dark_pink);
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.form-check-input {
    background-color: black;
    border-color: black;
}
.button-black {
    color: white; 
    background-color: #1C1C1C; 
    /* padding: 20px;  */
    border-radius: var(--border-radius); 
    text-align: center; 
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.button-black:hover {
    background-color: #1C1C1C; 
    color: white; 
}


.text-large {
    font-size: 32px; 
}

.text-small{
    font-size: 12px; 
}

.custom-input {
    background-color: var(--light-grey);
    /* border: 1px solid var(--black); */
    border-radius: 25px;
    padding: 15px; 
    font-size: 16px; 
    transition: border-color 0.3s;
}

.custom-input:focus {
    /* border-color: var(--black);  */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    outline: none; 
}

/* .background-login {
    width: 1052.68px;
    height: 731.06px;
    top: 200.26px;
    left: 198.32px;
    background: linear-gradient(#ffc6fe, #d5ffd5);
} */

.eye-background-green {
    background-color: var(--medium_blue_green);
    min-width: 100px;
    border-radius: var(--border-radius);
    border: none;
}

.eye-background-pink {
    background-color: var(--medium_pink);
    min-width: 100px;
    border-radius: var(--border-radius);
    border: none;
}