<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Parent Watcher{% endblock %}</title>
        <link rel="icon" href="{{ asset('logo.png') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="uk-navbar-container uk-navbar-transparent uk-box-shadow-medium" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img src="{{ asset('assets/LOGO-NEXTECH-RVB.svg') }}" style="height: 50px; width: auto; margin-left:30px;" />
                </a>
            </div>
            <div class="uk-navbar-right" style="margin-right: 5%">
                <ul class="uk-navbar-nav">
                    <li><a href="/" class="uk-text-bold">Accueil</a></li>
                    <li><a href="/historique-ventes" class="uk-text-bold">Historique</a></li>
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="">
            <div class="">
                <p>&copy; 2023 Mélissa. Tous droits réservés.</p>
            </div>
        </footer>
    </body>
</html>